<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Response Recorded</title>
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
</head>

<body class="flex items-center justify-center min-h-screen p-4 bg-gray-100">
    <div class="w-full max-w-lg p-4 text-center bg-white rounded-lg shadow-lg sm:p-8">
        <div class="flex items-center justify-center ">
            <!-- <svg class="w-12 h-12 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
            </svg> -->
            <img src="../../assets/Images/success.gif" alt="Success Logo">
        </div>
        <h1 class="mb-2 text-lg font-semibold sm:text-xl">Your Response Has Been Recorded.</h1>
        <p class="mb-4 text-gray-600">We Apologize For Any Kind Of Inconvenience Caused.</p>
        <footer class="text-xs text-gray-500 sm:text-sm">
            Copyright © 2022 MBG CARD All rights reserved.
            <br>
            This is a Automated Qr-Code. If Any Problem Persist Please Mail Us:
            <a href="mailto:ansh@pulsecoder.in" class="text-blue-500 hover:text-blue-600">Email Us</a>
        </footer>
    </div>
</body>

</html>