<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrQkz6VrQl6K0AWo7el2+ql4SV0+1fNZz0WpI3z0zwB1+Tj4oN40Mkg0wK0Q4R5t8Q29h+0uT5FPLg7N3Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <app-sidebar></app-sidebar>
    <div class="flex flex-col max-h-screen h-screen overflow-auto bg-[#DFDFDF] md:pl-72 sm:pt-8 pt-20  lg:pl-72">
        <div class="flex-grow mr-4 ml-2 overflow-y-auto" style="max-height: 90vh;">
            <h1 class="mb-1 pl-2 text-3xl font-bold">USERS</h1>
            <p class="mb-2 pl-2 text-gray-400">TABS &gt; ALL USER</p>
            <div class="flex items-center justify-between mb-3">
                <div class="relative w-1/2 pl-2">
                    <input type="text" placeholder="Search anything"
                        class="sm:w-[50%] w-[90%]  text-black border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600">
                    <button class="relative text-white rounded-lg -left-6">
                        <i class="fa-solid fa-magnifying-glass" style="color:rgb(21, 0, 0)"></i>
                    </button>
                </div>
                <button (click)="downloadExcel(username)"
                    class="sm:px-4 sm:py-2 px-2 py-2 text-white bg-green-500 rounded-lg hover:bg-green-600">Download All
                    User</button>
            </div>

            <div class="overflow-y-auto" style="max-height: 70vh;">
                <table class="min-w-full">
                    <thead class="border-2 border-black">
                        <tr>
                            <th class="w-1/12 p-2 text-center text-black">S.No</th>
                            <th class="w-3/12 p-2 text-center text-black">Username</th>
                            <th class="w-3/12 p-2 text-center text-black">Business Name</th>
                            <th class="w-3/12 p-2 text-center text-black">Client Username</th>
                            <th class="w-3/12 p-2 text-center text-black">Client Contact</th>
                            <th class="w-3/12 p-2 text-center text-black">Password</th>
                            <th class="w-3/12 p-2 text-center text-black">Action</th>
                        </tr>
                    </thead>
                    <tbody class="border-2 border-black">
                        <tr *ngFor="let user of users; let i = index" class="border-b border-gray-700">
                            <td class=" text-center">{{ i+1 + pageNumber * elementSizeInPage }}</td>
                            <td class=" text-center">{{ user.owner_name }}</td>
                            <td class=" text-center">{{ user.businessname }}</td>
                            <td class=" text-center">{{ user.owner_name }}</td>
                            <td class=" text-center">{{ user.contact }}</td>
                            <td class=" text-center">123</td>
                            <td class=" text-center">
                                <div class="tooltip-container">
                                    <span class="tooltip">{{user.isEnable ? 'Disable' : 'Enable'}}</span>
                                    <lord-icon src="https://cdn.lordicon.com/fygyhyze.json" trigger="click"
                                        style="width:25px;height:25px"
                                        (click)="accountEnableOrDisable(user.owner_name,username)">
                                    </lord-icon>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="!users.length">
                            <td colspan="7" class="p-4 text-center text-white">No users found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="relative bottom-0 flex items-center justify-center h-16">
            <div class="">
                <button class="px-3 mr-3 py-1 text-black rounded"
                    [ngClass]="{'bg-[#dbf0fe]': pageNumber > 0, 'bg-[#dbf0fe] cursor-not-allowed': pageNumber === 0}"
                    (click)="previousPage()" [disabled]="pageNumber === 0">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <span class="px-3 py-1 mr-3 text-black bg-[#dbf0fe] rounded">{{ pageNumber + 1 }}</span>
                <button class="px-3 py-1 mr-3 text-black rounded"
                    [ngClass]="{'bg-[#dbf0fe]': !isButtonDisabled, 'bg-[#dbf0fe] cursor-not-allowed': isButtonDisabled}"
                    (click)="nextPage()" [disabled]="isButtonDisabled">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
</body>

</html>