<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.1/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url("../../../assets/Images/login-bg.jpg");
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
        }

        .nav-element {
            text-decoration: none;
        }

        .nav-element:hover {
            color: black;
        }
    </style>

</head>

<body class="text-black bg-gray-100">
    <div class="flex items-center justify-center w-full px-48 bg-white shadow">
        <header class="w-full ">
            <nav class="container flex items-center justify-between px-6 py-3 mx-auto">
                <div class="flex justify-start gap-2">
                    <img class="h-10 w-13" src="../../../assets/Images/Review.png" alt="mgb logo" />
                    <a href="#" class="text-2xl font-bold text-black nav-element ">Review Us</a>
                </div>
                <div class="">
                    <a routerLink="/guest/home" class="mx-2 font-semibold text-black nav-element text-md">Home</a>
                    <a routerLink="/guest/home" class="mx-2 font-semibold text-black nav-element text-md">About Us</a>
                </div>
            </nav>
        </header>
    </div>
    <main class="container py-10 mx-auto px-52">
        <h1 class="mb-6 text-3xl font-bold text-center">Privacy Policy</h1>
        <section>
            <h2 class="mb-4 text-2xl font-bold">Introduction</h2>
            <p>Welcome to MBG Card India Pvt Ltd. ("MBG Card", "we", "our", "us"). We are committed to protecting and
                respecting your privacy. This Privacy Policy explains how we collect, use, and safeguard your
                information when you visit our website and use our services.</p>
        </section>

        <section class="mt-6">
            <h2 class="mb-4 text-2xl font-bold text-black">Types of Data Collected</h2>
            <ul class="pl-5 space-y-2 list-disc">
                <li>Tracker</li>
                <li>Usage Data</li>
                <li>Email address</li>
                <li>First name</li>
                <li>Last name</li>
                <li>Phone number</li>
                <li>Payment info</li>
                <li>Data communicated while using the service</li>
                <li>Various types of Data</li>
            </ul>
        </section>
        <div class="mt-6">
            <p>Complete details on each type of Personal Data collected are provided in the dedicated sections of this
                Privacy Policy
                or by specific explanation texts displayed prior to the Data collection. Personal Data may be freely
                provided by the
                User, or, in the case of Usage Data, collected automatically when using MBG Card.</p>


            <p class="mt-6">Unless specified otherwise, all Data requested by MBG Card is mandatory, and failure to
                provide this Data may make it
                impossible for MBG Card to provide its services. In cases where MBG Card specifically states that some
                Data is not
                mandatory, Users are free not to communicate this Data without consequences to the availability or the
                functioning of
                the Service. </p>

            <p class="mt-6">Users who are uncertain about which Personal Data is mandatory are welcome to contact the
                Owner. Any use
                of Cookies – or
                of other tracking tools – by MBG Card or by the owners of third-party services used by MBG Card serves
                the purpose of
                providing the Service required by the User, in addition to any other purposes described in the present
                document and in
                the Cookie Policy, if available.</p>
            <p class="mt-6">Users are responsible for any third-party Personal Data obtained, published, or shared
                through MBG Card and confirm that
                they have the third party’s consent to provide the Data to the Owner.</p>
        </div>
        <div class="mt-6 ">
            <h1 class="text-2xl font-bold text-black">How We Use Your Information</h1>
            <p class="mt-6">We use the information we collect in the following ways:</p>
            <ol class="mt-2 ml-4 list-decimal">
                <li><b>To Provide and Improve Our Services:</b>We use your information to deliver the services you
                    request, improve our website, and enhance user experience.</li>
                <li><b>To Communicate with You :</b>We may use your personal information to contact you with
                    newsletters, marketing or promotional materials, and other
                    information that may be of interest to you.</li>
                <li><b>To Process Transactions :</b>We use your information to process your transactions and manage your
                    orders.</li>
                <li><b>To Provide Customer Support:</b>We use your information to respond to your inquiries and support
                    needs more efficiently.</li>
                <li><b>To Comply with Legal Obligations:</b>We may use your information as necessary to comply with
                    applicable laws and regulations.</li>
            </ol>
        </div>
        <div class="mt-4">
            <h2 class="text-2xl font-bold text-black">Information Sharing and Disclosure</h2>
            <p class="mt-3">We adopt appropriate data collection, storage, and processing practices and security
                measures to protect against
                unauthorized access, alteration, disclosure, or destruction of your personal information, username,
                password,
                transaction information, and data stored on our site.</p>
        </div>
        <div class="mt-4">
            <h2 class="text-2xl font-bold text-black">Data Security</h2>
            <p class="mt-3">We do not sell, trade, or otherwise transfer your personal information to outside parties
                except as
                described in this
                Privacy Policy. We may share your information with trusted third parties who assist us in operating our
                website,
                conducting our business, or servicing you, so long as those parties agree to keep this information
                confidential.</p>
        </div>
        <div class="mt-4">
            <h2 class="text-2xl font-bold text-black">Your Rights</h2>
            <p class="mt-3">You have the right to access, correct, or delete your personal information. You may also
                object to the processing of
                your data and request that we limit the processing of your personal information. To exercise these
                rights, please
                contact us using the contact information provided below.</p>
        </div>
        <div class="mt-4">
            <h2 class="text-2xl font-bold text-black">Changes to This Privacy Policy</h2>
            <p class="mt-3">MBG Card has the discretion to update this Privacy Policy at any time. We will notify you of
                any changes by posting the
                new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any
                changes. Changes to
                this Privacy Policy are effective when they are posted on this page.</p>
        </div>
        <div class="mt-4">
            <h2 class="text-2xl font-bold text-black">Contact Us</h2>
            <p class="mt-3">If you have any questions about this Privacy Policy, please contact us at:</p>
            <p class="mt-4">MBG Card India Pvt Ltd</p>
            <p>58 Chamber No.4 Samdariya Adarsh Complex, Jabalpur, Madhya Pradesh 482002</p>
            <span>Email: info&#64;mbgcard.com</span>
            <p>Phone: 95892 00458</p>
            <p class="mt-4">By using our site and services, you signify your acceptance of this Privacy Policy. If you
                do not agree to this policy,
                please do not use our site or services. Your continued use of the site following the posting of changes
                to this policy
                will be deemed your acceptance of those changes.</p>
            <h3 class="mt-4 font-bold text-black">Thank you for choosing MBG Card. We are dedicated to helping your
                business
                grow
                while ensuring your privacy and
                security.</h3>
        </div>
    </main>

    <footer class="py-4 mt-10 text-center bg-white shadow">
        <p>© 2023 ReviewUs.in All rights reserved.</p>
    </footer>
</body>

</html>