<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback-Form</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body class="flex items-center justify-center min-h-screen overflow-scroll bg-gray-100">
    <div class="p-4 mx-auto bg-white rounded-lg shadow-md min-w-2xl sm:p-6">
        <h1 class="mb-3 text-xl font-semibold text-center text-gray-700 sm:text-2xl sm:mb-4">
            {{ businessName | uppercase }}
        </h1>
        <p class="mb-4 text-sm text-center text-gray-600 sm:text-base sm:mb-6">
            Tell Us About Your Experience With {{ businessName | uppercase }}
        </p>
        <form [formGroup]="feedbackData" (ngSubmit)="submitFeedback()" class="space-y-3 sm:space-y-4">
            <div *ngIf="errorMessage" class="mb-4 text-center text-red-500">
                {{ errorMessage }}
            </div>
            <div class="flex flex-col items-center mb-4 sm:mb-6">
                <span class="mb-1 text-xl font-bold text-gray-500 sm:text-2xl sm:mb-2">
                    Rate Us:
                </span>
                <div class="flex items-center justify-center text-2xl sm:text-3xl">
                    <ng-container *ngFor="let star of stars; let i = index">
                        <i class="cursor-pointer star"
                            [ngClass]="{ 'text-yellow-400': i < rating, 'text-gray-400': i >= rating }"
                            (click)="setRating(i)">
                            <i class="fa-solid fa-star fa-bounce"></i>
                        </i>
                    </ng-container>
                </div>
            </div>

            <div>
                <label for="name" class="block text-sm text-gray-600 sm:text-base">Your Name</label>
                <input formControlName="reviewerName" id="name" type="text" placeholder="Enter Your Name"
                    class="w-full p-1 border rounded-md sm:p-2 focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50" />
            </div>

            <div>
                <label for="contact" class="block text-sm text-gray-600 sm:text-base">Your Contact Number</label>
                <input formControlName="number" id="contact" type="text" placeholder="Enter Your Contact Number"
                    class="w-full p-1 border rounded-md sm:p-2 focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50" />
                <div *ngIf="feedbackData.get('number')?.invalid && feedbackData.get('number')?.touched"
                    class="mt-1 text-xs italic text-red-500">
                    Contact number must be 10 digits.
                </div>
            </div>

            <div>
                <label for="thoughts" class="block text-sm text-gray-600 sm:text-base">Your Thoughts</label>
                <textarea formControlName="reviewContent" id="thoughts" placeholder="Enter Your Thoughts..." rows="3"
                    sm:rows="4"
                    class="w-full p-1 border rounded-md sm:p-2 focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50"></textarea>
            </div>

            <button type="submit" [disabled]="!feedbackData.valid"
                class="w-full p-2 text-white bg-indigo-600 rounded-md hover:bg-indigo-700">
                Submit
            </button>
        </form>
    </div>
</body>

</html>